﻿@model ICA_3.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginFailed</title>
</head>
<body>
    <h1>LOGIN FAILED!</h1>
    <div> 
    </div>
</body>
</html>
