﻿@model ICA_3.Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPassed</title>
</head>
<body>
    <h1>LOGIN PASSED!</h1>
    <h4>Welcome @Html.DisplayFor(model => model.Username) </h4>
    <div> 
    </div>
</body>
</html>
