﻿@model ICA_3.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterPassed</title>
</head>
<body>
    <h1>Register Passed :)</h1>
    <h4>@Html.DisplayFor(model => model.Username)<h4>
</body>
</html>