﻿@model ICA_3.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterFailed</title>
</head>
<body>
    <h1>Register Failed :(</h1>
</body>
</html>
